* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    background-color: #bfc2bb;
    background-image: url(assets/foto2.webp);
    background-position: top;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    font-family: 'Times New Roman', Times, serif;
    border: 1.5px solid #a5bb97;
    margin: 15px;
    text-align: center;
    position: relative;
    background-color: rgba(11, 11, 11, 0.228);
}

header img {
    float: left;
    width: 70px;
    height: 70px;
}

header h1 {
    margin-bottom: 10px;
}

header p {
    color: rgb(7, 6, 6);
}

nav {
    background-color: #a5bb97;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav a {
    text-decoration: none;
    color: rgb(112, 122, 86);
    font-weight: bold;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    padding: 30px;
    width: 90%;
    margin: 0 auto;
}

main::before {
    width: 280px;
    height: 600px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    display: block;
}

main::after {
    width: 280px;
    height: 380px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    display: block;
    align-self: flex-end;
}


.diario {
    margin-right: auto;
    width: 500px;
    height: 500px;
}

section {
    width: 450px;
    height: 400px;
    background: rgb(161, 162, 122);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Times New Roman', Times, serif;
}

section h2 {
    margin-right: 17px;
}

section h3 {
    margin-bottom: 20px;
}

section p,
section li {
    line-height: 1.8;
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section ul {
    padding-left: 20px;
}

footer {
    background-color: #80a78d;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

.conflicto {
    display: flex;
    width: 600px;
    height: 400px;
    background: rgb(161, 162, 122);
    padding: 15px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    justify-content: space-evenly
}

.prueba {
    height: 600px;
}

#inicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    padding: 30px;
    margin: 0 auto;
    width: 0 auto;

}